@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.navbar {
    background-color: white;
    margin-left: auto;
}

.navbar a {
    color: #000000;
}

.navbar-nav li a {
    font-size: 1.2rem;
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

.navbar-nav li.nav-item:hover {
    background-color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.navbar-nav li.nav-item:hover a.nav-link {
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
      padding: 0.5rem 2rem;
      margin: 0.25rem;
      color: #fff;
      font-weight: 500;
      transition: all 0.2s ease-in-out;
      border-radius: 0.5rem;
      color: #000;
    }
    .navbar-nav .nav-link:hover {
      background-color: #212529;
      border-radius: 0.5rem;
    }
  }

  .navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.dropdown-menu {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@media (min-width: 992px) {
  .carousel-full {
    width: 80%;
    margin: 0 auto;
  }
}




