@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.navbar {
  background-color: white;
  margin-left: auto;
}

.navbar a {
  color: #000000;
}

.navbar-nav li a {
  font-size: 1.2rem;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-nav li.nav-item:hover {
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.navbar-nav li.nav-item:hover a.nav-link {
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-link {
    padding: 0.5rem 2rem;
    margin: 0.25rem;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
    color: #000;
  }

  .navbar-nav .nav-link:hover {
    background-color: #212529;
    border-radius: 0.5rem;
  }
}

.navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.dropdown-menu {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  background-size: 100% 100%;
}


.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.carousel-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.navbar-nav a:hover {
  background-color: grey;
}

.flex-inicio{
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.explicacion{
  text-align: justify;
  font-family: 'Nunito', sans-serif;
  font-size: 1.15em;
  font-weight: 500;
}

.Satisfaccion{
  margin-right: 80px;
  margin-left: 30px;
}

h2 {
  font-size: 2rem; /* tamaño de fuente inicial */
  font-family: 'Nunito', sans-serif;
  text-align: left;
  font-weight: 700;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem; /* tamaño de fuente para pantallas más grandes */
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1 1 200px;
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .flex-item {
    flex-basis: calc(50% - 20px);
  }
}

.flex-container{
  margin-top: 5px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 15px;
}

.iconos{
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
}

.iconos-texto{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  color: #000000;
  text-decoration: none !important;
  border-bottom: none;
}

.imagenes{
  margin-bottom: 15px;
}

a {
  color: black;
  text-decoration: none;
}
