@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.Titulo {
    margin-top: 130px;
    font-size: 2.9rem;
    /* tamaño de fuente inicial */
    font-family: 'Nunito', sans-serif;
    color: #3E54AC;
    text-align: center;
    font-weight: 900;
    
}

.titulo2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    /* tamaño de fuente inicial */
    font-family: 'Nunito', sans-serif;
    color: #3E54AC;
    text-align: center;
    font-weight: 900;
    
}

.Descripcion {
    background-color: #FFFF99; /* Fondo amarillo */
    color: #000000; /* Letra negra */
    font-weight: bold; /* Negritas */
    text-align: center; /* Centrado */
    padding: 15px; /* Espacio interno */
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
  }

  .tabla-plan{
    align-items: center;
  }

  .tabla-plan {
    display: flex;
    justify-content: center;
  }
  
  .table {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    text-align: center;
  }
  
  .table th {
    padding: 1rem;
  }
  
  .table td {
    padding: 1rem;
  }

  td {
    text-align: justify;
  }
  
  
  th:first-child,
  td:first-child {
    padding-left: 2rem;
  }
  
  th:last-child,
  td:last-child {
    padding-right: 2rem;
  }
  
  .table thead th:nth-child(1),
  .table tbody td:nth-child(1) {
    width: 40%;
  }
  
  .table thead th:nth-child(2),
  .table tbody td:nth-child(2) {
    width: 20%;
  }
  
  .table thead th:nth-child(3),
  .table tbody td:nth-child(3) {
    width: 40%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .total-texto {
    margin-bottom: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
  }
  
  .condiciones-texto {
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .total{
    text-align: right;
    margin-right: 50px;
  }

  .btn-primary {
    font-family: 'Nunito', sans-serif;
    background-color: #2d3e8b;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 20px 40px; /* Ajusta el tamaño del botón */
    font-size: 1.6 rem; /* Ajusta el tamaño de fuente */
    display: block;
    margin: auto;
    margin-top: 50px;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #ffc107; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
    color: #2d3e8b; /* Cambia el color de texto del botón al pasar el cursor sobre él */
  }

  img:hover {
    transform: scale(1.1); /* aumenta el tamaño de la imagen en un 10% al pasar el cursor sobre ella */
  }


  .popup {
    display: none;
  }
  
  .overlay.active {
    display: flex;
  }
  
  .popup.active {
    display: block;
  }
  

  /* INICIO DE POPUP */
.overlay {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow-y: auto;
  /* Habilitar desplazamiento en el overlay */
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  transition: .3s ease all;
  transform: scale(0.7);
  opacity: 0;
  z-index: 9999;
  max-height: calc(100vh - 100px);
  /* Ajusta el valor si es necesario */
  overflow-y: auto;
  /* Habilitar desplazamiento en el popup */
}

.popup button.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: .3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, .9);
}

/* ANIMACIONES */
.popup.active {
  transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
  animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaInputs {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 770px) {
  .popup {
    margin-top: 50px;
    width: auto;
    max-width: calc(100% - 40px);
  }
}



form {
  font-family: 'Nunito', sans-serif;
}


.form-group label,
.form-control,
.btn {
  font-family: "Nunito", sans-serif;
}

.form-group label,
.cotizar {
  font-family: 'Nunito', sans-serif;
}

.texto-grosor {
  font-weight: 800;
}

.costo {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #03C988;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#mensaje-error {
  font-size: 1rem;
  color: red;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-weight: 400;
}
