.text-center {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: -10px;
}





.LogoLogin {
  text-align: center;
  margin: 25px auto 0 auto;
}


img:hover {
  transform: scale(1.1);
  /* aumenta el tamaño de la imagen en un 10% al pasar el cursor sobre ella */
}


.card-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #333;
  background-color: #fff;
  font-weight: 550;
}

.form-label {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

.form-floating {
  font-family: 'Poppins', sans-serif;
}


.btn-primary {

  background-color: black;
  font-family: 'Poppins', sans-serif;
  border-color: black;
  border-radius: 15px;
  padding: 15px;
  width: 160px;
  margin: auto;
  color: white;
  display: block;
  margin: 0 auto;
}

.btn {
  align-self: center;
}

.btn-primary:hover {
  background-color: white;
  border-color: black;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.btn-primary span {
  background-color: #F5DEB3;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  color: black;
}


.card-footer {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rounded {
  margin-top: 25px;
}

@media (min-width: 992px) {

  /* breakpoint para pantallas grandes */
  .col-lg-6 {
    max-width: 50% !important;
  }
}

.success-message {
  color: green;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}